<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end"> 
      <ion-button (click)="signOut()">
        <ion-icon name="log-out"></ion-icon>

      </ion-button>
    
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
     
    </ion-buttons>
    <ion-title>  </ion-title>
  </ion-toolbar>
</ion-header>
<ion-header translucent>
  <ion-toolbar>
    <ion-title>¡Hola, Bienvendi@!</ion-title>
    <p>"direccion"</p>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen class="ion-padding" >
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
  <ion-card>
  <ion-slides>
    <ion-slide>
      <div class="slide">
        <img src="./assets/slide.jpg"/>
        <h2>TallKing</h2>
        <p>Una app que te mostrara los lugares mas cercanos a tu ubicacion en donde podras encontrar talleres y parqueaderos de bicicletas</p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="./assets/taller.jpg"/>
      <h3>"Cuida tu bicicleta, dejala en un lugar seguro y siempre usa las protecciones necesarias"</h3>
    </ion-slide>
  </ion-slides>
  </ion-card>
  
  <ion-card>
    <img src="./assets/taller.jpg" />
    <ion-card-header>
      <ion-text color="secondary">
        <h2>No te quedes varado!!</h2>
        <h2>Busca aqui el lugar mas cercano donde arreglar tu bicicleta</h2>
      </ion-text>
      
      <ion-card-title></ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
      <ion-card-header>
            <ion-text color="success">
              <h4>Seleccione el servicio a usar</h4>
            </ion-text>
      </ion-card-header>
      
      <ion-card-content>
          <!-- Segment with secondary color -->
        <ion-segment (ionChange)="segmentChanged($event)" color="success" value="f">
        <ion-segment-button value="f" layout="icon-bottom">
          <ion-icon name="bike"></ion-icon>
          <ion-label>Taller</ion-label>
        </ion-segment-button>
        <ion-segment-button value="m" layout="icon-bottom">
          <ion-icon name="mechanical"></ion-icon>
          <ion-label>Parqueadero</ion-label>
        </ion-segment-button>
        </ion-segment>
      </ion-card-content>
  </ion-card>

</ion-content>


  
  
  

  