<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Registro de ciclistas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

	 
	  <ion-item>
	    <ion-label position="floating">Nombre de Usuario</ion-label>
	    <ion-input type="text" [(ngModel)]="username"></ion-input>
	  </ion-item>

	  <ion-item>
	    <ion-label position="floating">Tú Edad</ion-label>
	    <ion-input type="text" [(ngModel)]="edad"></ion-input>
	  </ion-item>
 
	  <ion-item>
	    <ion-label position="floating">TIPO DE BICILETA</ion-label>
	    <ion-select interface="popover"  placeholder="Elija tipo cicla">
			<ion-select-option *ngFor="let tipoCicla of ciclas "value="{{tipoCicla.tipo}}">{{tipoCicla.tipo}}</ion-select-option>
		  </ion-select>
	  </ion-item>
	

	  <ion-item>
	    <ion-label position="floating">Color Bicicleta</ion-label>
	    <ion-input type="text" [(ngModel)]="color"></ion-input>
	  </ion-item>
	  <ion-item>
	    <ion-label position="floating">Correo Electronico</ion-label>
	    <ion-input type="text" [(ngModel)]="mail"></ion-input>
	  </ion-item>
	  <ion-item>
	    <ion-label position="floating">Contraseña</ion-label>
	    <ion-input type="password" [(ngModel)]="password"></ion-input>
	  </ion-item>

	  <ion-item>
	    <ion-label position="floating">Confirma la contraseña</ion-label>
	    <ion-input type="password" [(ngModel)]="confirm_password"></ion-input>
	  </ion-item>

	</ion-list>

	<div>
	  <ion-button expand="block" padding color="warning" (click)="userRegister()">Registrate</ion-button>
	  <ion-button expand="block" padding color="danger" fill="outline" (click)="formLogin()">Inicia Sesión</ion-button>
	</div>
</ion-content>
