
<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button text="" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Tips para Ciclas</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

 

  <ion-item  color="warning">
    <ion-label>
      <h1 color="warning">Videos utiles</h1>
    </ion-label>
  </ion-item>
  <ion-item href="https://www.youtube.com/watch?v=bEM-3AiglsI"   target="_blank" color="secondary">
    <ion-label>
      COMO TENSAR LA CADENA DE LA BICI
    </ion-label>
  </ion-item>


  <ion-item href="https://www.youtube.com/watch?v=9BM8P8d0npg"   target="_blank" color="warning">
    <ion-label>
      Buenos TIPS Acá
    </ion-label>
  </ion-item>
  
  <ion-item href="https://www.youtube.com/watch?v=CadKxbC5YNU"   target="_blank" color="secondary">
    <ion-label>
      Revision Preventiva
    </ion-label>
  </ion-item>

  
  <ion-item href="https://www.youtube.com/watch?v=bl6fPLGtxDk"   target="_blank" color="warning">
    <ion-label>
      TIPS 2.0
    </ion-label>
  </ion-item>




 
  <ion-item href="https://www.youtube.com/watch?v=CXRConwHJDc"   target="_blank" color="secondary">
    <ion-label>
      Componentes de la cicla
    </ion-label>
  </ion-item>

  <ion-item href="https://www.youtube.com/watch?v=jboZiQc5aVg"   target="_blank" color="warning">
    <ion-label>
     Limpiar y Engrasar la Cadena
    </ion-label>
  </ion-item>


  <ion-item href="https://www.youtube.com/watch?v=BRYK6nBwxxM"   target="_blank" color="secondary">
    <ion-label>
      despinchar
    </ion-label>
  </ion-item>
</ion-content>


