<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button text="" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title>BICI USUARIOS PREGUNTAN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <img src="./assets/pr2.jpg" />
    <ion-card-header>
      <ion-text color="primary">
        <h3>Preguntas BiciUsuarios</h3>
      </ion-text>
      
      <ion-card-title>cumplimos con el deber de aclarar sus dudas a todos!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
      
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      
      <ion-card-title>¿Como encontrar un parqueadero Cerca?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-text color="success">
        <span>En la Seccion de Tiendas & Servicios encontraras el mapa y tu seras marcado en tu posicion veras los iconos con P</span>
      </ion-text>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      
      <ion-card-title>¿Como encontrar un taller o montallantas Cerca?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-text color="danger">
        <span>En la Seccion de Tiendas & Servicios encontraras el mapa y tu seras marcado en tu posicion, veras los iconos con una "Llave de tuercas"</span>
      </ion-text>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      
      <ion-card-title>¿En que sectores puedo encontrar Servicios?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-text color="primary">
        <span>Nos encontramos en Bogota, En las Localidades de RAFAELL URIBE URIBE. USME, Y SANTA FE.</span>
      </ion-text>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      
      <ion-card-title>¿Tiene Algun Costo Usar la Aplicación?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-text color="primary">
        <span>La aplicacion es totalmente abierta y gratis.</span>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>