<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button text="" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title>PArqueaderos</ion-title>
    
  </ion-toolbar>
</ion-header>
<ion-header>
  <ion-toolbar>
   
    <ion-title>Ház mas, reciclando y reutilizando</ion-title>
    
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img src="./assets/p1.jpg" />
    
    <ion-card-header>
      <ion-text color="secondary">
        <h2>Te Damos la ubicacion de un lugar seguro para tu bici.</h2>
      </ion-text>
    
    </ion-card-header>
    <img src="./assets/p2.jpg" />
    <ion-card-content>
      <ion-text color="secondary">
        <div id="container">
          <strong class="capitalize">{{ folder }}</strong>
          <ion-item   [routerLink]="['/ciclista']" color="secondary"><ion-label> <h1><strong>Encuentra parqueaderos TOCA Aquí </strong></h1> </ion-label></ion-item>
        </div>
       
       
      </ion-text>

      
    </ion-card-content>
  </ion-card>

 
</ion-content>

