<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Como DENUNCIAR una BICI Robada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item  color="warning">
    <ion-label>
      <h3 color="info">Denuncia a la policia Llenando el Formulario del enlace que te dejamos a continuacion</h3>
    </ion-label>
  </ion-item>

  <ion-item href="https://adenunciar.policia.gov.co/Adenunciar/frm_denuncia_bicicleta_II.aspx"   target="_blank" color="success">
    <ion-label>
      <h1>¡Formulario DENUNCIA Hurto de Bicicleta! ¡PULSA AQUI!</h1>
    </ion-label>
  </ion-item>
</ion-content>
